body {
  background-image: linear-gradient(to bottom, #bc77f2, #ffffff);
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.icon{width:150px;
  border-radius:30px;
}

h1{text-align:center;
font-size:55px;
font-family:cursive;}

.starter{margin:20px;}

.starter > img{margin-left:auto;
margin-right:auto;
  display:block;}

.starter > p{text-align:center;}


          